<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StayPositive"
        tools:targetApi="31">
        <activity
            android:name=".mechanisms"
            android:exported="false" />
        <activity
            android:name=".adventure"
            android:exported="false" />
        <activity
            android:name=".talkToSomeone"
            android:exported="false" />
        <activity
            android:name=".exercise"
            android:exported="false" />
        <activity
            android:name=".selfcare"
            android:exported="false" />
        <activity
            android:name=".journal"
            android:exported="false" />
        <activity
            android:name=".haveAGoodDay"
            android:exported="false" />
        <activity
            android:name=".hopeless"
            android:exported="false" />
        <activity
            android:name=".tired"
            android:exported="false" />
        <activity
            android:name=".excited"
            android:exported="false" />
        <activity
            android:name=".anxious"
            android:exported="false" />
        <activity
            android:name=".stressed"
            android:exported="false" />
        <activity
            android:name=".angry"
            android:exported="false" />
        <activity
            android:name=".sad"
            android:exported="false" />
        <activity
            android:name=".happy"
            android:exported="false" />
        <activity
            android:name=".gettingStarted"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>